// breakpoints
$break-small: 768px;

// Mixins

@mixin small {
    @media(min-width: $break-small) {
        @content;
    }
}

@mixin transition($property: all, $duration: .3s, $timing-function: ease-out, $delay: 0s) {
    transition: $property $duration $timing-function $delay;
}

@mixin calculateFontSize($fontSize) {
    font-size: $fontSize;

    @media screen and (max-width: 767px) {
        font-size: .8 * $fontSize;
    }

    @media (-webkit-min-device-pixel-ratio: 1.25) {
        font-size: .9 * $fontSize;
    }

    @media screen and (min-width: 768px) and (max-width: 1599px) {
        font-size: .9 * $fontSize;
    }
}

@mixin setFontWeight($fontWeight) {
    font-weight: $fontWeight;
}

@mixin calculatePadding($paddingTop, $paddingRight, $paddingBottom, $paddingLeft) {
    padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;

    @media screen and (max-width: 767px) {
        padding: $paddingTop * .7 $paddingRight * .7 $paddingBottom * .7 $paddingLeft * .7;
    }

    @media screen and (min-width: 768px) and (max-width: 1400px) {
        padding: $paddingTop * .8 $paddingRight * .8 $paddingBottom * .8 $paddingLeft * .8;
    }
}

@mixin pixelRatio125 {
    @media (-webkit-device-pixel-ratio: 1.25) {
        @content;
    }

    @media (-moz-device-pixel-ratio: 1.25) {
        @content;
    }
}
