@import 'colors';

.title-container {
  color: white;
  margin-bottom: 50px;

  .logo {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 3;
  }

  .promotion-image {
    flex: 1;
  }

  .promotion-text {
    flex: 1;
    z-index: 1;
  }

  .decoration-circle {
    background: $orange-dark;
    width: 50%;
    height: auto;
    padding-top: 50%;
    left: -300px;
    top: 60px;
  }

  .btn-container {
    color: white;
    background-color: $orange-light;
    border-radius: 10px;
    align-self: center;
  }
}