<div class="title-container h-100 m-5 mt-0">
  <div class="logo-container d-flex justify-content-center pt-5 align-items-center mb-4">
    <div class="logo d-flex flex-column justify-content-center">
      <img alt="image" src="./assets/images/Logo.svg" class="h-100 w-100">
      <span class="fontsize25 fontweight900">
        SplitIt
      </span>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row mt-5">
    <div class="promotion-text d-flex flex-column me-4  position-relative">
      <h1 class="fontsize25 fontweight700">
        HALO, HALO! POZOR! ACHTUNG! ACHTUNG MINEN!
      </h1>
      <p class="fontsize20">
        Czy Twoi znajomi to wieczne sępy?<br>
        Czy jesteś sponsorem ludzi, których nawet nie lubisz?<br>
        Skończ z byciem frajerem i betabankomatem!<br>
        Użyj SPLIT IT i zostań królem życia i rekinem biznesu.<br>
        Od dzisiaj wyjścia ze znajomymi przestaną być udręką.<br>
        To znaczy będą, ale to Twoja wina, bo takich masz znajomych.<br>
        No ale będą musieli płacić za siebie.<br>
        Prędzej, czy później.<br>
        Dzięki SPLIT IT!<br>
        <span class="fontweight700">Science, bitch!</span>
      </p>
      <button class="btn btn-container fontsize16 fontweight700 py-2 px-3">
        Pobierz za darmo
      </button>
      <div class="decoration-circle rounded-circle position-absolute"></div>
    </div>
    <div class="promotion-image h-50 w-50">
      <img alt="promo-img" src="/assets/images/title_image.svg" class="h-100 w-100">
    </div>
  </div>
</div>
