
@import 'colors';
@import 'mixins';

.title-container {
  color: white;

  .logo {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 3;
  }

  .promotion-image {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
      display: inline;
      margin: 0 auto;
      margin-left: -25%; //centers the image
      height: 100%;
      width: auto;
    }

    @include large {
      margin-top: 0;
    }
  }

  .promotion-text {
    flex: 1;
    z-index: 1;
  }

  .decoration-circle {
    background: $orange-dark;
    width: 600px;
    height: 600px;
    left: -360px;
    top: 100px;
  }

  .btn-container {
    color: white;
    background-color: $orange-light;
    border-radius: 10px;
    align-self: center;
  }
}

.button-anchor {
  text-decoration: none;
}
